@if (kind === 'breath-flow-hold') {
  <app-breath-flow-hold-exercise
    [state]="state"
    [practicePrompt]="practicePrompt"
    [showTargetReference]="showTargetReference"
    [targetNote]="targetNote"
    [targetReferenceLabel]="targetReferenceLabel"
    [remainingSeconds]="remainingSeconds"
    [currentNote]="currentNote"
    [currentConfidence]="currentConfidence"
    [primaryCheckLabel]="primaryCheckLabel"
    [primaryOk]="primaryOk"
    [voiceDetected]="voiceDetected"
    [edgeConfidenceOk]="edgeConfidenceOk"
    [completionMet]="completionMet"
    [completionLabel]="completionLabel"
    [progressPercent]="progressPercent"
    (start)="start.emit()"
    (retry)="retry.emit()"
    (finish)="finish.emit()"
    (playNote)="playNote.emit()"
  />
} @else if (kind === 's-z-balance') {
  <app-s-z-balance-exercise
    [state]="state"
    [practicePrompt]="practicePrompt"
    [remainingSeconds]="remainingSeconds"
    [currentNote]="currentNote"
    [currentConfidence]="currentConfidence"
    [primaryCheckLabel]="primaryCheckLabel"
    [primaryOk]="primaryOk"
    [voiceDetected]="voiceDetected"
    [edgeConfidenceOk]="edgeConfidenceOk"
    [completionMet]="completionMet"
    [completionLabel]="completionLabel"
    [progressPercent]="progressPercent"
    [recordedDurationSec]="szRecordedDurationSec"
    [currentZDurationSec]="szCurrentZDurationSec"
    (start)="start.emit()"
    (retry)="retry.emit()"
    (finish)="finish.emit()"
  />
} @else {
  <app-generic-exercise
    [state]="state"
    [practicePrompt]="practicePrompt"
    [showTargetReference]="showTargetReference"
    [targetNote]="targetNote"
    [targetReferenceLabel]="targetReferenceLabel"
    [remainingSeconds]="remainingSeconds"
    [currentNote]="currentNote"
    [currentConfidence]="currentConfidence"
    [primaryCheckLabel]="primaryCheckLabel"
    [primaryOk]="primaryOk"
    [voiceDetected]="voiceDetected"
    [edgeConfidenceOk]="edgeConfidenceOk"
    [completionMet]="completionMet"
    [completionLabel]="completionLabel"
    [progressPercent]="progressPercent"
    (start)="start.emit()"
    (retry)="retry.emit()"
    (finish)="finish.emit()"
    (playNote)="playNote.emit()"
  />
}
